.work-experience{
    color:  #444966;
    &--job-title{
        font-size: 1.5vw;
        font-family: 'Roboto', sans-serif;
        position: relative;
        white-space: nowrap;
        margin-bottom: 0;
    }
    &--job-duties{
        margin-top: 0;
    }
}
.section-title{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
    white-space: nowrap;
    margin-bottom: 0;
}