@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');

.self-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #444966;
    &--header{
        font-size: 3vw;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    
    &--body{
        font-size: 2vw;
        font-family: 'Roboto', sans-serif;
        position: relative;
        white-space: nowrap;
        margin-bottom: 0;
    }
    &--social-platform-icon{
        margin: 0px 2vw 0vw 2vw;
    }

   
}

.intro-page{
}
